.shop-container{
    display: flex;
}
.product-container{
    
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 2px solid lightcoral;
}
.cart-container{
    text-align: center;
    width: 30%;
    margin-right: 2px;
    margin-left: 1px;
   
}