.product{
    display: flex;
    border-bottom: 2px solid lightgray;
    padding: 4px 4px 4px 4px;
}
.product-name{
    color: blue;
    font-weight: bold;

}
.main-button{
    background-color: goldenrod;
    width: 120px;
    height: 30px;
    border: 2px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
}